{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
<link rel="stylesheet" href="{{asset('assets/css/login.css')}}">
{% endblock %}
{% block body %}
<div class="container mt-3 rounded">
    <form method="post">
        <div class="row rounded-top">
            <h1><i class="fa fa-lock" aria-hidden="true"></i> Connexion</h1>
        </div>
        <br />
        {% if error %}
            <div class="alert alert-danger mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <br />
        {% if app.user %}
            <div class="mb-3">
                Connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email">
        </div>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key icon"></i></span>
            </div>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe">
        </div>
        <br />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br />
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Se connecter</button>
    </form>
</div>
{% endblock %}