{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
	<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}
{% block javascript %}
	<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block body %}
<div class="container-fluid d-flex flex-column justify-content-center homepage__main__div">
	<form method="post" class="w-100 px-sm-3 px-md-5 login__form">
		<div>
			<h1 style="color:#495057;">Connexion</h1>
		</div>

		{% if error %}
			<div class="alert alert-danger mx-2 mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="Social__connection btn">
			<a href="{{path('app_login_google')}}">
				<div class="google-btn">
					<div class="google-icon-wrapper">
						<img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
					</div>
					<p class="btn-text">
						<b>Connexion via google</b>
					</p>
				</div>
			</a>
		</div>
		<div class="Social__connection btn">
			<a href="{{path('app_login_twitter')}}">
				<div class="google-btn">
					<p class="btn-text">
						<b>Connexion via twitter</b>
					</p>
				</div>
			</a>
		</div>
		<div class="input-group px-2 my-2">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-envelope"></i>
				</span>
			</div>
			<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email">
		</div>
		<div class="input-group px-2 my-2">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fa fa-key icon"></i>
				</span>
			</div>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe">
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="d-flex flex-column">
			<button type="submit" class="btn btn-success mx-5">
				<span class="glyphicon glyphicon-off"></span>
				Se connecter
			</button>
			<a href="{{path('app_forgot_password_request')}}" class="">Mot de passe oublié?</a>
		</div>

		
	</form>
	</div>
	 
{% endblock %}
