{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ user.username }} - Réseaux sociaux{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/dashboard.css')}}">
{% endblock %}

{% block body %}

<div class="container-md">
	<div class="row profile align-items-center">
		<div class="col-md-3">
			{% include 'partials/_profile_sidebar.html.twig' %}
		</div>
		<div class="col-md-9  pb-3 pt-3 profile-content  bg-light">
			<div class="social-content bg-light">
				<h3 class="mb-3 text-center">La gestion de tes réseaux, c'est ici que ça se passe !</h3>
				<div class="text-center mb-3">
						<a href="{{ path('social_add', {id:user.id }) }}" class="link_social">Ajouter un nouveau profil</a>
					</div>
				<div class="d-flex flex-justify-between text-center flex-wrap col-12">
					
					{% for socialProfile in user.userSocials %}
					<div class="col-5 social__div mt-2 mb-5 mx-auto">
						{% if socialProfile.social.name == 'Facebook' %}
						<div>
							<img src="{{asset('/assets/images/social_picto/') ~ socialProfile.social.picto}}" class="img-fluid img_resize" alt="">
						</div>
						<div>
							<a href="{{ socialProfile.link }}">Mon Facebook </a>
						</div>
						<div data-id={{socialProfile.id}} >
							<button class="delete_social"> Supprimer </button>
							<button class="edit_social">
								<a href="{{path('social_edit', {id: socialProfile.id}) }}">Modifier</a>
							</button>
						</div>
						{% elseif socialProfile.social.name == 'Twitch' %}
						<div>
							<img src="{{asset('/assets/images/social_picto/') ~ socialProfile.social.picto}}" class="img-fluid img_resize" alt="">
						</div>
						<div>
							<a href="{{ socialProfile.link }}"> Mon compte Twitch</a>
						</div>
						<div data-id={{socialProfile.id}} >
							<button class="delete_social"> supprimer </button>
							<button class="edit_social">
								<a href="{{path('social_edit', {id: socialProfile.id}) }}">Modifier</a>
							</button>
						</div>
						{% elseif socialProfile.social.name == 'Instagram' %}
						<div>
							<img src="{{asset('/assets/images/social_picto/') ~ socialProfile.social.picto}}" class="img-fluid img_resize" alt="">
						</div>
						<div>
							<a href="{{ socialProfile.link }}">Mon profil Insta </a>
						</div>
						<div data-id={{socialProfile.id}} >
							<button class="delete_social"> supprimer </button>
							<button class="edit_social">
								<a href="{{path('social_edit', {id: socialProfile.id}) }}">Modifier</a>
							</button>
						</div>
						{% elseif socialProfile.social.name == 'Twitter' %}
						<div>
							<img src="{{asset('/assets/images/social_picto/') ~ socialProfile.social.picto}}" class="img-fluid img_resize" alt="">
						</div>
						<div>
						<a href="{{ socialProfile.link }}">Mon compte Twitter </a>
						</div>
						<div data-id={{socialProfile.id}} >
							<button class="delete_social"> supprimer </button>
							<button class="edit_social">
								<a href="{{path('social_edit', {id: socialProfile.id}) }}">Modifier</a>
							</button>
						</div>
						{% elseif socialProfile.social.name == 'Snapchat' %}
						<div>
							<img src="{{asset('/assets/images/social_picto/') ~ socialProfile.social.picto}}" class="img-fluid img_resize" alt="">
						</div>
						<div>
							<a href="{{ socialProfile.link }}">
						</div>
							Mon compte Snapchat
						</a>
						<div data-id={{socialProfile.id}} >
							<button class="delete_social"> supprimer </button>
							<button class="edit_social">
								<a href="{{path('social_edit', {id: socialProfile.id}) }}">Modifier</a>
							</button>
						</div>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/api.js')}}"></script>
<script src="{{asset('assets/js/social.js')}}"></script>

{% endblock %}