{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Réinitialiser mot de passe{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
	<link rel="stylesheet" href="{{asset('assets/css/request_password.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid reset__main__div">
<div class="container">
{{ form_start(resetForm) }}
    <h3 class="mb-3">Changer votre mot de passe</h3>
    {% for passwordField in resetForm.plainPassword %}
    <div class="input-group px-2 my-2 ">
    
        <div class="input-group-prepend mx-auto">
           
             {{ form_row(passwordField) }}
        </div>
       
    </div>   
    {% endfor %}
    <button type="submit" class="btn btn-success mt-2 col-md-3">
    <span class="glyphicon glyphicon-off"></span>
    Valider
    </button>
{{ form_end(resetForm) }}
</div>
</div>
{% endblock %}

    



