{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Editer une annonce {% endblock %}

{% block body %}
    <h1>Editer l'annonce: {{ announcement.title }}</h1>

    {{ include('announcement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('announcement_list') }}">Liste des annonces</a>

    {{ include('announcement/_delete_form.html.twig') }}
{% endblock %}
