{% extends 'base.html.twig' %}

{% block title %}Announcement index{% endblock %}

{% block body %}
    <h1>Announcement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.id }}</td>
                <td>{{ announcement.title }}</td>
                <td>{{ announcement.content }}</td>
                <td>{{ announcement.image }}</td>
                <td>{{ announcement.status }}</td>
                <td>{{ announcement.createdAt ? announcement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ announcement.updatedAt ? announcement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('announcement_show', {'id': announcement.id}) }}">show</a>
                    <a href="{{ path('announcement_edit', {'id': announcement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('announcement_new') }}">Create new</a>
{% endblock %}
