{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Liste des annonces{% endblock %}


{% block stylesheets %}
<link href='{{asset('assets/css/announcement_list.css')}}' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block body %}




<div class="container" style="margin-top: 20px; margin-bottom: 20px;">

    <h1 class="text-center">A vous de jouer !</h1>
    <div class="d-flex mb-3">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm d-none d-md-block" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 d-none d-md-block" type="submit">Search</button>
            <select name="category" id="category_label">
                <option value="">Trier par catégorie</option>
                 {% for category in categories %}
                 <option value="{{category.id}}">{{category.label}}</option>
                 {% endfor %}
            </select>
             <select name="socialNetwork" id="socialNetwork_name">
                <option value="">Trier selon le réseau social</option>
                 {% for socialNetwork in socialNetworks %}
                 <option value="{{socialNetwork.id}}">{{socialNetwork.name}}</option>
                 {% endfor %}
            </select>
        </form>
    </div>
{% for announcement in announcements %}
	<div class="row panel">
		<div class="body__list col-md-3 bg_blur d-none d-md-block">
    	  <div class="d-flex justify-content-around mt-3">
                {% for category in announcement.categories %}
                    
                        <span class="badge badge-secondary"> {{category.label}}</span>
                    
                {% endfor %}
                {% for network in announcement.socialNetworks %}
                    
                        <span class="badge badge-secondary"> {{network.name}}</span>
                    
                {% endfor %}
            </div>
		</div>
        <div class=" body__list col-md-9 col-xs-12">
            <div class="d-flex">
                <div>
                    <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
                </div>
                <div class="header">    
                    <h1>{{ announcement.title }}</h1>
                    <h4>Publié par {{announcement.user.username }}</h4>
                    <p>{{announcement.content |slice(0,100)}}...</p>
                    <div>
                    {% if announcement.updatedAt  is not empty %}
                    <p class="font-italic text-black-50 d-flex flex-row-reverse"> Annonce modifiée le {{ announcement.updatedAt ? announcement.updatedAt|date('d-m-Y à H:i') : '' }} </p>
                    {% else %}
                    <p class="font-italic text-black-50 d-flex flex-row-reverse"> Publiée le {{ announcement.createdAt ? announcement.createdAt|date('d-m-Y à H:i') : '' }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>   
	<div class="row nav mb-3"> 
        <div class="col-md-6"></div>
        <div class="col-md-6 col-xs-6 row" style="margin: 0px;padding: 0px;">
            <a href="{{ path('announcement_show', {id:announcement.id }) }}"  class="col-md-6 col-xs-3 well"><i class="fa fa-eye fa-3"></i> Consulter l'annonce</a>
            {# <a href="#" class="col-md-4 col-xs-4 well"><i class="fa fa-envelope fa-3"></i> Envoyer un message</a> #}
            <a href="{{path('announcement_favorite', {'id': announcement.id}) }}" class="col-md-6 col-xs-3 well js-fav">
            {% if app.user and announcement.isFavByUser(app.user) %}
                <i class="fa fa-heart fa-lg "></i> 
            {% else %}
            <i class="fa fa-heart-o fa-lg "></i> 
            {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

    function onClickBtnFav(evt){
        evt.preventDefault()
        const url = this.href
        const icone = this.querySelector('i');
        axios.get(url).then(function(response){

            if(icone.classList.contains('fa-heart-o')){
                icone.classList.replace('fa-heart-o', 'fa-heart')
            } else{
                icone.classList.replace('fa-heart', 'fa-heart-o')
            }

        });
    }

        document.querySelectorAll('a.js-fav').forEach(function(link){
            link.addEventListener('click', onClickBtnFav)
        })
    </script>
{% endblock %}
           