{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - {{announcement.title }} {% endblock %}

{% block stylesheets %}
<link href='{{asset('assets/css/announcement_detail.css')}}' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="blog-single gray-bg">
        <div class="container">
            <div class="row align-items-start ">
                 <!--- Announcement -->
                <div class="col-lg-8 m-15px-tb">
                    <article class="article ">
                    {% if announcement.image is not empty %}
                        <div class="article-img">
                            <img src="https://via.placeholder.com/800x350/87CEFA/000000" title="" alt="">
                        </div>
                    {% endif %}
                        <div class="article-title">
                        <div class="d-flex justify-content-between">
                           {% if announcement.categories | length == 1 %}
                            <h6>Catégorie:
                            {% else %}
                            <h6>Catégories:
                            {% endif %}
                            {% for category in announcement.categories %}
                            <span class="require">{% if not loop.first %}, {% endif %} {{category.label}}</span>
                            {% endfor %}
                            </h6>
                            {% if announcement.socialNetworks | length <= 1 %}
                            <h6>Média requis:
                            {% else %}
                            <h6>Médias requis:
                            {% endif %}
                            {% for socialNetwork in announcement.socialNetworks %}
                            <span class="require">{% if not loop.first %}/ {% endif %} {{socialNetwork.name}}</span>
                            {% endfor %}
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h2>{{announcement.title}}</h2>
                            
                            <!-- if author of announcement show delete and edit button or fav icone if not author of announcement -->
                            <div class="d-flex align-text-bottom">
                                {% if is_granted('edit', announcement) %}
                                    <a class="edit_button" href="{{ path('announcement_edit', {'id': announcement.id}) }}"><button class="btn-primary">Modifier</button></a>
                                {% elseif is_granted('edit', announcement) == false %}
                                    <a href="{{path('announcement_favorite', {'id': announcement.id}) }}" class="col-4 well js-fav">
                                    {% if app.user and announcement.isFavByUser(app.user) %}
                                    <i class="fa fa-heart fa-lg "></i> 
                                    {% else %}
                                    <i class="fa fa-heart-o fa-lg "></i> 
                                    {% endif %}
                                    </a>
                                {% endif %} 
                                {% if is_granted('delete', announcement) %}
                                    {{ include('announcement/_delete_form.html.twig') }}
                                {% endif %}  
                            </div>
                            <!-- end of edit and delete button-->
                        </div>
                            {% if announcement.updatedAt  is not empty %}
                            <p class="font-italic text-black-50"> Annonce modifiée le {{ announcement.updatedAt ? announcement.updatedAt|date('d/m/Y à H:i') : '' }}</p>
                            {% else %}
                            <p class="font-italic text-black-50"> Publiée le
                            {{ announcement.createdAt ? announcement.createdAt|date('d/m/Y à H:i') : '' }}</p>
                            {% endif %}
                        </div>
                        <div class="article-content">
                            <p>{{announcement.content}}</p>
                        </div>
                    </article>
                </div>
            <!-- end announcement -->
                <div class="col-lg-4 m-15px-tb blog-aside ">
                    <!-- Announcement author -->
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3>Détail de l'annonceur</h3>
                        </div>
                        <div class="widget-body">
                            <div class="media align-items-center">                            
                                <div class="avatar">
                                    <img <img src="{{asset('/assets/images/avatar_user/') ~ announcement.user.picture}}"  title="" alt="">
                                </div>
                                <div class="media-body">
                                    <h6>{{announcement.user.username }}
                                    <a href="{{path('user_show', {id: announcement.user.id , role: 'marque'})}}"><span class="user_profile">(voir profil)</span></a>
                                    </h6>
                                </div>
                            </div>
                            <p> {{announcement.user.description }}</p>
                        </div>
                    </div>

                    <a href="https://www.vexels.com/vectors/preview/124730/social-network-illustration"> Social network illustration </a> | designed by Vexels
                    <!-- End of announcement author -->
                       <!-- Report  -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Un soucis avec cette annonce?</h3>
                        </div>
                        <div class="widget-body">
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="{{ path('announcement_report', {id:announcement.id }) }}" class="js-report ann-not-reported">
                                        {% if app.user and announcement.isReportedByUser(app.user) %}
                                        <span class="ann-reported">Annonce signalée</span>
                                        {% else %}
                                        <span class="report_link">Signaler l'annonce</span>
                                        {% endif %}
                                        </a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                    
                                        <h5><a href="{{ path('user_report', {id:announcement.user.id }) }}" class="js-report user-not-reported">
                                        {% if app.user and announcement.user.isReportedByUser(app.user) %}
                                        <span class="ann-reported">Signalé !
                                        {% else %}
                                        <span class="report_link"> Signaler l'auteur de cette annonce</span>
                                        {% endif %}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of report -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
    function onClickBtnFav(evt){
        evt.preventDefault()
        const url = this.href
        const icone = this.querySelector('i');
        let favlink = evt.currentTarget;

        axios.get(url).then(function(response){

            if(icone.classList.contains('fa-heart-o')){
                icone.classList.replace('fa-heart-o', 'fa-heart')
            } else{
                icone.classList.replace('fa-heart', 'fa-heart-o')
            }
        });
    }

    function onClickAnnReport(evt){
        evt.preventDefault()
        const url = this.href;
        let reportlink = evt.currentTarget;
        let reportText = this.querySelector('span');
        axios.get(url).then(function(response){
            if(reportlink.classList.contains('ann-not-reported')){
                reportlink.classList.replace('ann-not-reported', 'ann-reported');
                reportText.innerHTML = " Annonce signalée !";
                reportlink.style.color = 'red'
            }
        });
    }

    function onClickUserReport(evt){
        evt.preventDefault()
        const url = this.href;
        let reportlink = evt.currentTarget;
        let reportText = this.querySelector('span');
        axios.get(url).then(function(response){
            if(reportlink.classList.contains('user-not-reported')){
                reportlink.classList.replace('user-not-reported', 'user-reported');
                reportText.innerHTML = "Utilisateur signalé !";
                reportlink.style.color = 'red';
            }
        });
    }

  
    document.querySelectorAll('a.js-fav').forEach(function(link){
        link.addEventListener('click', onClickBtnFav)
    })
  
    document.querySelectorAll('a.js-report').forEach(function(link){
        link.addEventListener('click', onClickAnnReport);
    })
  
    document.querySelectorAll('a.js-report').forEach(function(link){
        link.addEventListener('click', onClickUserReport);
    })
    </script>
{% endblock %}