{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - {{announcement.title }} {% endblock %}

{% block body %}

<div class="container-fluid w-100 col-sm-11">
    <h2 class="text-center mt-2">
        <a href="{{path('user_show', {id: announcement.user.id , role: 'marque'})}}">{{announcement.user.username }}</a>
    </h2>
    <div class="d-flex mx-auto flex-wrap w-100 col-sm-12">
        <div class="card col-sm-7">
                <div class="d-flex w-100 justify-content-between">
                    <h1 class="mb-1">{{ announcement.title }}</h1>
                    {% if announcement.updatedAt  is not empty %}
                    <p class="font-italic text-black-50 mt-2"> Annonce modifiée le
                        {{ announcement.updatedAt ? announcement.updatedAt|date('d/m/Y à H:i') : '' }} </p>
                    {% else %}
                    <p class="font-italic text-black-50"> Publiée le
                        {{ announcement.createdAt ? announcement.createdAt|date('d/m/Y à H:i') : '' }}</p>
                    {% endif %}
                </div>
                <h3> En détail:</h3>
                <p> {{ announcement.content }}</p>
                <div class="d-flex">

                    {% if is_granted('edit', announcement) %}
                    <a href="{{ path('announcement_edit', {'id': announcement.id}) }}">Modifier l'annonce</a>
                    {% endif %}
                    {% if is_granted('delete', announcement) %}
                    {{ include('announcement/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
               <div class=" d-flex card col-sm-4 ">
           
            <div class="d-flex row justify-content-around">
                {% for category in announcement.categories %}
                <div>
                    <p class="text-center"> {{ category.label }} </p>
                    {% if category.picto is not null %}
                    <img src="{{ asset('/assets/images/category_picto/' ~ category.picto) }}">
                    {% endif %}
                </div>
                {% endfor %}

                {% for socialNetwork in announcement.socialNetworks %}
                <div>
                    <p class="text-center"> {{ socialNetwork.name }} </p>
                    {% if socialNetwork.picto is not null %}
                    <img src="{{ asset('/assets/images/social_picto/' ~ socialNetwork.picto) }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>



    </div>
</div>

{% endblock %}