{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ user.username }} - Tableau de bord{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/dashboard.css')}}">
{% endblock %}

{% block body %}

<div class="container-md ">
    <div class="row profile">
        <div class="col-md-3">
            {% include 'partials/_profile_sidebar.html.twig' %}
        </div>

        <div class="col-md-9">
            <div class="profile-content">
                <h2 class="mb-5 text-align-center">Bonjour {{ user.username }}, voici la liste de vos annonces favorites
                </h2>
                {% for favorite in favorites %}
                
                <div class="favAnnouncement mb-2" data-id="{{favorite.id}}">
                <a href="{#{{path('api_v1_announcement_fav_delete', {'id': favorite.id}) }}#}" class="col-md-1 col-xs-1 well js-fav link__fav"> 
                    <i class="fa fa-heart fa-lg "></i> 
                </a>
                    <a href="{{ path('announcement_show', {id:favorite.announcement.id }) }}"
                        class="list-group-item list-group-item-action my-1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ favorite.announcement.title }}</h5>
                            
                            <small class="text-muted">{{ favorite.announcement.createdAt|date('d/m/Y') }} </small>
                            
                        </div>
                        <p class="mb-1">{{ favorite.announcement.content }}</p>
                        {% for category in favorite.announcement.categories %}
                        <small class="text-muted">{% if not loop.first %}, {% endif %}{{ category.label }}</small>
                        {% endfor %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{asset('assets/js/api.js')}}"></script>
<script src="{{asset('assets/js/fav.js')}}"></script>
{% endblock %}