{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Edition de profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/dashboard.css')}}">
{% endblock %}

{% block body %}

	<div class="container-md ">
		<div class="row profile">
			<div class="col-md-3">
				{% include 'partials/_profile_sidebar.html.twig' %}
			</div>
			<div class="col-md-9">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_widget(form) }}

				<button class="btn" type="button" onclick="createNewSocialForm()">Ajouter un réseau </button>
				<button class="btn btn-primary" type="submit">Valider</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<script>
const userSocialFormList = document.querySelector("#brand_edit_userSocials");
const prototype = userSocialFormList.dataset.prototype;
let currentIndex = userSocialFormList.children.length;

function createNewSocialForm() {
    const newElement = document.createElement('div');
    newElement.innerHTML = prototype.replace(/__name__/g, currentIndex);
    currentIndex ++;
    userSocialFormList.appendChild(newElement);
}

</script>

{% endblock %}