{% extends 'layouts/dashboard.html.twig' %}

{% block content %}
<div class="profile-content bg-light rounded {{ (user.announcements | length >= 3 ) ? 'overflow_dashboard' : '' }}">
            {% if 'default' in user.picture or user.description is empty or user.userSocials | length == 0 %}
                {% include 'user/influencer/empty_dashboard.html.twig' %}
            {% endif %} 
            {% if user.announcements | length > 0  %} 
                <h2 class="mb-5 mt-2 text-center">Vos annonces en ligne</h2>    
            {% else %}        
                <h2 class="mb-5 mt-2 text-center">Vous n'avez pas postée d'annonce</h2>  
            {% endif %}   
                <div>
                {% for announcement in user.announcements %}
                    <div class="favAnnouncement mb-2" data-id="{{announcement.id}}">
                        <div class="list-group-item  my-1">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ announcement.title }}</h5>
                                <div class="d-flex flex-row-reverse" >
                                    <div>
                                        <a href="{{path('announcement_edit', {'id': announcement.id})}}" class="col-md-1 col-xs-1 well js-fav link__fav"> 
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>                                
                                    </div>
                                    <div>
                                    {% if announcement.updatedAt is not empty and announcement.updatedAt != announcement.createdAt %}
                                        <small class="text-muted">Annonce modifiée le {{ announcement.updatedAt|date('d/m/Y') }} </small>
                                    {% else %}
                                        <small class="text-muted">Annonce publiée le {{ announcement.createdAt|date('d/m/Y') }} </small>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <p class="mb-1">{{ announcement.content |slice(0,180)}}...</p>
                            <div class="d-flex row justify-content-between">
                                <div class="ml-3">
                                    {% for category in announcement.categories %}
                                        <small class="text-muted">{% if not loop.first %}, {% endif %}{{ category.label }}</small>
                                    {% endfor %}
                                </div>
                                <a href="{{ path('announcement_show', {id:announcement.id }) }}" class="mr-3"> <small class="see_announcement"> Aperçu de l'annonce</small> </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}