{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Influenceurs
{% endblock %}
{% block stylesheets %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{asset('assets/css/influencer_list.css')}}">
{% endblock %}
{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}



{% block body %}
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Les Marques</h5>
        <div class="row">
        {% for brand in users %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{asset('assets/images/avatar_user/' ~ brand.picture ) }}" alt="card image"></p>
                                    <h4 class="card-title text-danger">{{brand.username}}</h4>
                                    <p class="card-text">
                                    {% for category in brand.categories %}
                                    <span class="label label-info">{{ category.label }}</span>
                                    {% endfor %}
                                    </p>
                                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{brand.username}}</h4>
                                    <p class="card-text">AJOUTER UNE DESCRIPTION / BIO DANS L'ENTITE USER ?</p>
                                    <a href="{{path('user_show', {id: brand.id, role: 'influenceur'})}}" class="btn btn-primary btn-sm"><span class="text-white">Profil</span></a>
                                    <ul class="list-inline">
                                        {% for social in brand.userSocials %}
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- Team -->
{% endblock %}