{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Influenceurs
{% endblock %}
{% block stylesheets %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{asset('assets/css/influencer_list.css')}}">
{% endblock %}

{% block body %}
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Les Marques</h5>
        <small>Ajouter menu des filtres, liens RS dynamiques</small>
        <div class="row">
        {% for brand in users %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{asset('assets/images/avatar_user/' ~ brand.picture ) }}" alt="card image"></p>

                                    <div>
                                    <h4 class="card-title"><span class="text-danger">{{brand.username}}</span></h4> 
                                     <a href="{{path('user_favorite', {'id': brand.id}) }}" class="col-md-6 col-xs-4 well js-fav">
                                            {% if app.user and brand.isFavByUser(app.user) %}
                                                <i class=" fa fa-heart fa-lg "></i> 
                                            {% else %}
                                            <i class="fa fa-heart-o fa-lg "></i>
                                            {% endif %}
                                        </a>
                                    </div>  

                                    <p class="card-text">
                                    {% for category in brand.categories %}
                                    <span class="label label-info">{{ category.label }}</span>
                                    {% endfor %}
                                    </p>
                                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <div>
                                    
                                    <h4 class="card-title text-danger"><span class="text-danger">{{brand.username}}</span></h4>
                                        <a href="{{path('user_favorite', {'id': brand.id}) }}" class="col-md-6 col-xs-4 well js-fav">
                                            {% if app.user and brand.isFavByUser(app.user) %}
                                                <i class="fa fa-heart fa-lg "></i> 
                                            {% else %}
                                            <i class="fa fa-heart-o fa-lg "></i>
                                            {% endif %}
                                        </a>
                                    </div>

                                    <p class="card-text">AJOUTER UNE DESCRIPTION / BIO DANS L'ENTITE USER ?</p>
                                    <a href="{{path('user_show', {id: brand.id, role: 'marque'})}}" class="btn btn-danger btn-sm"><span class="text-white">Profil</span></a>
                                    <ul class="list-inline">
                                        {% for social in brand.userSocials %}
                                        {% if social.social.name == 'Facebook' %}
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        {% elseif social.social.name == 'Twitter' %}
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        {% elseif social.social.name == 'Instagram' %}
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-instgram"></i>
                                            </a>
                                        </li>
                                        {% elseif social.social.name == 'Twitch' %}
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitch"></i>
                                            </a>
                                        </li>
                                        {% elseif social.social.name == 'Snapchat' %}
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-snapchat"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- Team -->
{% endblock %}

{% block javascripts %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

    function onClickBtnFav(evt){
        evt.preventDefault()
        const url = this.href
        const icone = this.querySelector('i');
        let favlink = evt.currentTarget;
        

        axios.get(url).then(function(response){

            if(icone.classList.contains('fa-heart-o') ){
                icone.classList.replace('fa-heart-o', 'fa-heart')
              

            } else{
                icone.classList.replace('fa-heart', 'fa-heart-o')
                
            }

        });
    }

        document.querySelectorAll('a.js-fav').forEach(function(link){
            link.addEventListener('click', onClickBtnFav)
        })
    </script>
{% endblock %}